<% provide(:title, 'Teams') %>
<% provide(:button_text, 'Create a team') %>
<h1>All teams</h1>

<ul class="users">

<% if current_user.admin? %>
  <% @teams.each do |team| %>
   <li>
     <%= link_to team.name, "/teams/#{team.id}" %>  
     <td> | <%= link_to 'delete', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </li>
  <% end %>
<% else %>	
	<% memberships=TeamMembership.where(user_id: current_user.id)%>
	<% memberships.each do |m| %>
			<% teamss = Team.where(id: m.team_id) %>
			<% teamss.each do |team| %>
				<li>
				<%= link_to team.name, "/teams/#{team.id}" %>
				</li>
			<% end %>
	<% end %>
<% end %>
</ul>

<% if current_user.admin? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<% end %>
