<% provide(:title, @team.name) %>
<h1><%= @team.name %></h1>

<ul class="users">
<% memberships=TeamMembership.where(team_id: @team.id)%>
  <% memberships.each do |m| %>
     <%User.where(id: m.user_id).each do |user| %>
     <li>
      	<%=user.name%>
      	<% if current_user.admin? %>
      	  <td> | <%= link_to 'delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
     </li>
     <%end%>
  <%end%>
  
  <% if current_user.admin? %>
<br/><%= link_to "Add team members", new_team_membership_path(team_id:@team.id) %>
<% end %>
</ul>

