<% provide(:title, @team.name) %>
<h1><%= @team.name %></h1>

<!-- list all team members in this team-->
<ul class="users">
<%# find memberships with team id %>
<% memberships=TeamMembership.where(team_id: @team.id)%>
  <% memberships.each do |m| %>
  <%# print out the names of teammembers %> 
     <%User.where(id: m.user_id).each do |user| %>
     <li>
      	<%=user.name%>
      	<% if current_user.admin? %>
      	  <td> | <%= link_to 'delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
     </li>
     <%end%>
  <%end%>
  
<!-- add "Add team members" link so that admin can be able to add team members-->
<% if current_user.admin? %>

<br/><%= link_to "Add team members", new_team_membership_path(team_id:@team.id) %>
<% end %>
</ul>

