<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This Peer Evaluation Tool is the product of <a href="https://www.osu.edu/">Project 6</a> of <a href="http://web.cse.ohio-state.edu/~giles.25/3901/"><em>CSE 3901 (Prof. Giles)</em></a> of the <a href="https://cse.osu.edu/">Computer Science department</a> at the <a href="http://web.cse.ohio-state.edu/~giles.25/3901/labs/project6.html">Ohio State University</a>. Specifically, group <a href="https://github.com/cse3901-2022sp-giles">8bit-wizards</a> is responsible for this project. 
</p>
