<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You may contact the makers of this Peer evaluation tool (group 8bit-wizards of CSE 3901), through <em>patel.3322@osu.edu</em>, and you can contact the instructor of this course through <em>giles.25@osu.edu</em>.
  
</p>
