<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  In order to get help with this tutorial, you may refer to <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.<br>
  To get a detailed understanding of how we implemented this evaluation tool, you may refer to the <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a> textbook by Michael Hartl.<br>
  For class lecture materials on rails, refer to CSE 3901 <a href="http://web.cse.ohio-state.edu/~giles.25/3901/meetings.html">class slides</a>.<br>
  For additional help, please contact the instructor, prof. Charlie Giles, at <em>giles.25@osu.edu</em>.
</p>
