<% provide(:title, 'Add teammates') %>
<% provide(:button_text, 'Add to the team') %>
<h1>All users</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

