<h1>Add Student to <%= Team.find(@team_id).name.capitalize %></h1>
<% provide(:button_text, 'Add') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render 'form', membership: @membership %>
 </div>
</div>
