<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
       <h1>
       <%Team.all.each do |t| %>
      		<%=t.name%>
      		<% memberships=TeamMembership.where(team_id: t.id)%>
      		<br>
      		<% memberships.each do |m| %>
      			<%User.where(id: m.user_id).each do |user| %>
      				<%=user.name%>
      				<td> | <%= link_to 'delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      				<br>
      			<%end%>
      		<%end%>
       <%end%>
         
      </h1>
    </section>
  </aside>
</div>
