<footer class="footer">
  <small>
    Designed by <a href="https://github.com/cse3901-2022sp-giles">8-bit wizards</a>
    from <a href="https://www.osu.edu/">The Ohio State University</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
